<nav class="navigation-bar">
  <%= link_to "Home", root_path, class: "nav-item home" %>
  <%= link_to "Games", games_path, class: "nav-item games" %>
  <%= link_to "Leaderboards", leaderboards_path, class: "nav-item leaderboards" %>
  <%= link_to "Forums", "#", class: "nav-item forums" %>
  <%= link_to "Wiki", "#", class: "nav-item wiki" %>
  <%= link_to "Rules & Policies", rules_and_policies_path, class: "nav-item rules" %>
  <%= link_to "Support", "#", class: "nav-item support" %>
  <%= link_to "Store", "#", class: "nav-item store" %>
  <%= link_to "Search", "#", class: "nav-item search" %>
</nav>